/* Hoja de estilos para encriptador */

/* Estilos generales */

* {
    box-sizing: border-box;
}

body {
    background-color: #f3f5fc;
    font-family: "Inter";
    display: flex;
    flex-flow: row wrap;
}

/* Encabezado */
header {
    height: 100vh;
    width: 10%;
}

header img {
    margin: 20%;
    width: 60%;
}

/* Contenido principal */
main {
    display: flex;
    flex-flow: column wrap;
    padding: 40px;
    height: 100vh;
    width: 90%;
}

/* Estilos para la sección de entrada */
.section-input {
    height: 90%;
    width: 60%;
    padding: 40px 0 5px 0;
    background-color: #f3f5fc;
}

.section-input #input {
    background-color: #f3f5fc;
    border: none;
    width: 100%;
    outline: none;
    height: 90%;
    resize: none;
    font-size: 32px;
    color: #0a3871;
}

.section-input p {
    color: #495057;
    font-size: 12px;
}

.section-input #input::placeholder {
    font-weight: 400;
    color: #0a3871;
}

/* Estilos para la sección de section-botones */
.section-botones {
    display: flex;
    width: 60%;
    height: 10%;
    align-items: center;
    justify-content: space-around;
}

.botones {
    width: 45%;
    height: 80%;
    border: 1px solid #0a3871;
    border-radius: 24px;
    background-color: #d8dfe8;
    color: #0a3871;
}

.botones:hover {
    background-color: #0a3871;
    color: #ffffff;
}

/* Estilos para la sección de salida */
.resultado {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 33%;
    height: 100%;
    padding: 20px;
    margin-left: 60px;
    border-radius: 32px;
    background-color: #ffffff;
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
}

.resultado .section-contenido {
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.section-contenido {
    font-size: 24px;
    color: #495057;
}

.section-contenido strong {
    font-weight: bold;
    color: #343a40;
}

#contenido p:last-child {
    font-size: 16px;
}

/* Estilos para el pie de página */
footer {
    width: 100%;
    text-align: center;
    background-color: #0a3871;
    color: #ffffff;
}

footer p {
    display: block;
    font-family: "Ink free";
    font-weight: bold;
    font-size: 24px;
    padding: 15px 0 0 0;
}

footer hr {
    width: 50%;
    padding: 0;
    border: none;
    border-top: medium double #ffffff;
    color: #ffffff;
    text-align: center;
}

footer .redes-sociales {
    display: flex;
    justify-content: center;
    height: 80px;
}

.redes-sociales a {
    color: #ffffff;
    display: inline-block;
    padding: 4px;
    margin: 8px;
    height: 35px;
    font-size: 35px;
}

/* Estilos específicos para tabletas */
@media only screen and (max-width: 992px) {
    body {
        flex-flow: column;
        /* height: 100vh; */
    }

    header {
        width: 100%;
        height: 10vh;
    }

    header img {
        width: 15%;
        margin: 24px 0;
    }

    main {
        height: 90vh;
        width: 100%;
    }

    .section-input {
        width: 100%;
        height: 50%;
        padding: 20px;
    }

    .section-botones {
        width: 100%;
    }

    .resultado {
        width: 100%;
        height: 40%;
        margin: 0;
    }

    .resultado .section-contenido {
        height: 100%;
    }

    .section-contenido img {
        display: none;
    }
}

/* Estilos específicos para celulares */
@media only screen and (max-width: 600px) {
    .section-input #input {
        font-size: 20px;
    }

    .section-input p {
        font-size: 8px;
    }

    .botones {
        font-size: 12px;
    }

    .section-contenido p {
        font-size: 20px;
    }

    #contenido p:last-child {
        font-size: 12px;
    }

    footer p {
        font-size: 20px;
    }

    footer .redes-sociales {
        height: 60px;
    }

    .redes-sociales a {
        font-size: 25px;
    }
}
